.corei-shell-layout {

    width:100%;

    height:100%;


    display:grid;


    grid-template-columns:

        var(--corei-shell-left-width)

        minmax(
            var(--corei-workspace-min-width),
            1fr
        )

        var(--corei-shell-right-width);



    grid-template-rows:

        var(--corei-shell-top-height)

        minmax(
            var(--corei-workspace-min-height),
            1fr
        )

        var(--corei-shell-bottom-height)

        var(--corei-shell-status-height);



    grid-template-areas:

        "top top top"

        "left center right"

        "bottom bottom bottom"

        "status status status";



    overflow:hidden;

}
